<% const version = '20230803'; %>
<%# const url = ''; %>
<%# const url = ''; %><%# 先方テスト環境  %>
<% const url = ''; %><%# 本番  %>
<% const title = ''; %>
<% const keywords = ''; %>
<% const description = ''; %>

<head>
	<meta name="robots" content="noindex" />
	<meta charset="UTF-8" />
	<!-- Global site tag (gtag.js) - Google Analytics -->

	<meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<meta name="format-detection" content="telephone=no" />
	<title><%= title %></title>
	<meta name="description" content="<%= description %>" />
	<meta name="keywords" content="<%= description %>">
	<link rel="shortcut icon" href="./images/common/favicon.ico" type="image/vnd.microsoft.ico">
	<link rel="icon" href="./images/common/favicon.ico" type="image/vnd.microsoft.icon">
	<link rel="apple-touch-icon" href="./images/common/apple-touch-icon.png">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="default">
	<meta property="og:type" content="website">
	<meta property="og:title" content="<%= title %>">
	<meta property="og:url" content="<%= url %>">
	<meta property="og:image" content="<%= url %>images/common/og.png">
	<meta property="og:site_name" content="<%= title %>">
	<meta property="og:description" content="<%= description %>">
	<meta property="og:locale" content="ja_JP">
	<meta name="twitter:url" content="<%= url %>" />
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="<%= title %>">
	<meta name="twitter:description" content="<%= description %>">
	<meta name="twitter:image" content="<%= url %>images/common/og.png">
	<!-- css -->
	<link rel="stylesheet" href="./css/styles.css?<%= version %>" />
	<!-- Googleフォント -->

</head>